.title{
    display: flex;
    font-size: 24px;
    justify-content: center;
}


.upload {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.uploadStatus {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.mask{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.image {
    display: flex;
    justify-content: center;
}

.back{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}